<launch>

	<arg name="camera_device" default="/dev/video0"/>
	<arg name="camera_info" value="file://$(find landing_pkg)/camera_info/camera_calibration.yaml"/>
	<arg name="camera_frame_id" default="camera1"/>
	<arg name="camera_width" default="640"/>
	<arg name="camera_height" default="480" />
	<arg name="camera_fps"  default="30"/>

	<arg name="result_display" default="true"/>
	<arg name="result_autosize" default="true"/>
	<arg name="result_draw_markers" default="true" />
	<arg name="result_draw_markers_cube" default="true" />
	<arg name="result_draw_markers_axis" default="true" />

	<arg name="uid" default="" />
	<arg name="video_namespace" default="/ardrone"/>
	<arg name="video_image_topic" default="bottom/image_raw"/>
	<arg name="video_info_topic" default="bottom/camera_info"/>
	<arg name="video_rectified" default="false" />

	<!--Switch board here-->
	<arg name="board_config" default="$(find landing_pkg)/boards/custom_board1x1.yml" />
	<arg name="board_frame_id" default="board1" />
	<!--Change marker cell size here-->	
	<arg name="marker_size" default="0.28" />
	<arg name="publish_tf" default="false" />

	<node ns="/" pkg="ar_sys" type="single_board" name="ar_single_board$(arg uid)" output="screen">
		<remap from="/camera_info" to="$(arg video_namespace)/$(arg video_info_topic)" />
		<remap from="/image" to="$(arg video_namespace)/$(arg video_image_topic)" />

		<param name="image_is_rectified" type="bool" value="$(arg video_rectified)"/>
		<param name="board_config" type="string" value="$(arg board_config)"/>
		<param name="board_frame" type="string" value="/$(arg board_frame_id)" />
		<param name="marker_size" type="double" value="$(arg marker_size)"/>
		<param name="draw_markers" type="bool" value="$(arg result_draw_markers)" />
		<param name="draw_markers_cube" type="bool" value="$(arg result_draw_markers_cube)" />
		<param name="draw_markers_axis" type="bool" value="$(arg result_draw_markers_axis)" />
        <param name="publish_tf" value="$(arg publish_tf)" />
	</node>

	<node ns="/" pkg="topic_tools" type="relay" name="ar_single_board_relay$(arg uid)" args="/ar_single_board$(arg uid)/transform /arsys_single_board/transform" />

	<group if="$(arg result_display)">
		<node ns="/" pkg="image_view" type="image_view" name="image_view$(arg uid)" output="screen">
			<remap from="image" to="/ar_single_board$(arg uid)/result" />

			<param name="autosize" type="bool" value="$(arg result_autosize)" />
		</node>
      </group>
</launch>