<!--Basic Launch file incuding node & arguments components-->
<launch>
    <arg name="enabled" default="true"/>
    <!-- ARDRONE NODE -->
    <!-- <include file="$(find landing_pkg)/launch/ardrone.launch"/> -->
    <!--or with ardrone simulator in gazebo-->
    <include file="$(find cvg_sim_gazebo)/launch/ardrone_testworld.launch"/>

    <!-- ARSYS NODE -->
    <include file="$(find landing_pkg)/launch/arsys.launch"/>
    <!--<include file="$(find ar_sys)/launch/single_board.launch"/>-->

    <!-- TRANSFORMATIONS NODES (From PoseStamped to x, y, z float -->
    <include file="$(find landing_pkg)/launch/transformations.launch"/>

    <!-- PID X, Y, Z -->
    <include file="$(find landing_pkg)/launch/position_pids.launch"/>    

    <node name="vel_controller" type="vel_controller" pkg="landing_pkg" output="screen">
        <param name="enabled" value="$(arg enabled)"/>
    </node>

    <!--<node name="rel_graph" type="rqt_graph" pkg="rqt_graph"/>-->

</launch>