<!--Basic Launch file incuding node & arguments components-->
<launch>

    <!-- ARGUMENTS REGION -->
    !-- Enables receiving efforts in main_controller -->
    <arg name="efforts_enabled" default="true"/>

    <!-- Specifies if drone has to reach landing_quota at startup -->
    <arg name="has_to_reach_quota" default="false"/>

    <!-- If landing_quota is true, specifies the quota in mm at which the landing phase starts -->
    <arg name="landing_quota" default="2500"/>

    <!-- Specifies the velocity (m/s) of the landing phase-->
    <arg name="zeta_land_vel" default="-0.2"/>

    <!-- Specifies a toleration in mm from the landing_quota -->
    <arg name="quota_reached_toleration" default="250"/>

    <arg name="video_rectified" default="false"/>

    <arg name="center_margin" default="0.025"/>
    <arg name="speed_margin" default="0.02"/>
    <arg name="avg_center_margin" default="0.4"/>
    <arg name="avg_speed_margin" default="0.045"/>
    <arg name="landing_quote" default="200.0"/>

    <!-- MONITOR NODES -->
    <node name="error_monitor" type="error_monitor" pkg="landing_pkg" output="screen"/>
    <node name="quota_monitor" type="quota_monitor" pkg="landing_pkg" output="screen"/>

    <!-- BOOTSTRAPPER HELPER NODE -->
    <!-- <node name="boot" type="boot" pkg="landing_pkg" output="screen"/> -->

    <!-- ARDRONE NODE -->
    <include file="$(find landing_pkg)/launch/ardrone.launch"/>
    <!--or with ardrone simulator in gazebo-->
    <!-- <include file="$(find cvg_sim_gazebo)/launch/ardrone_testworld.launch"/> -->

    <!-- ARSYS NODE -->
    <include file="$(find landing_pkg)/launch/arsys.launch"/>
    <!-- ARSYS MOCK NODE -->
    <!-- <node name="mock_data_publisher" type="mock_data_publisher" pkg="landing_pkg" output="screen"/> -->

    <!-- TRANSFORMATIONS NODES (From PoseStamped to x, y, z) -->
    <include file="$(find landing_pkg)/launch/transformations.launch"/>

    <!-- PID X, Y, Z -->
    <include file="$(find landing_pkg)/launch/position_pids.launch"/>

    <!-- DRONE CONTROLLER-->
    <node name="main_controller" type="main_controller" pkg="landing_pkg" output="screen">
        <param name="enabled" value="$(arg efforts_enabled)"/>
        <param name="has_to_reach_quota" value="$(arg has_to_reach_quota)"/>
        <param name="landing_quota" value="$(arg landing_quota)"/>
        <param name="zeta_land_vel" value="$(arg zeta_land_vel)"/>
        <param name="quota_reached_toleration" value="$(arg quota_reached_toleration)"/>
    </node>

    <node name="lander" type="lander" pkg="landing_pkg" output="screen">
        <param name="center_margin" value="$(arg center_margin)"/>
        <param name="speed_margin" value="$(arg speed_margin)"/>
        <param name="avg_center_margin" value="$(arg avg_center_margin)"/>
        <param name="avg_speed_margin" value="$(arg avg_speed_margin)"/>
        <param name="landing_quote" value="$(arg landing_quote)"/>
    </node>

    <!--<node name="rel_graph" type="rqt_graph" pkg="rqt_graph"/>-->

</launch>