<launch>

    <!-- TODO Fattorizzare parametri condivisi dai diversi PID con $arg -->

    <!-- Each PID subscribes: -->
    <!-- /k_pose ~ /state/data: input to the PID controller from the controlled system -->
    <!-- /setpoint/data: the desired value the target (CLT) should be controlled to -->

    <!-- Each PID publishes: -->
    <!-- /control_effort/data ~ k_effort: output from the PID controller and which apply correcting force to the controlled system -->    

    <node name="x_pid" pkg="pid" type="controller" output="screen">
      <!-- TODO controlla perchè c'è anche un altro topic /state -->
      <!-- ma è fuori da k_pid -->      
      <remap from="/state" to="x_pose"/>
      <remap from="/control_effort" to="x_effort"/>
      <param name="Kp" value="0.42" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <!--<param name="windup_limit" value="10" />-->
      <!--<param name="cutoff_frequency" value="20" />-->
      <param name="diagnostic_period" value="0.25" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
      <param name="setpoint" value="0" />      
    </node>

    <node name="y_pid" pkg="pid" type="controller" output="screen">
      <remap from="/state" to="y_pose"/>
      <remap from="/control_effort" to="y_effort"/>
      <param name="Kp" value="0.42" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <!--<param name="windup_limit" value="10" />
      <param name="cutoff_frequency" value="20" />-->
      <param name="diagnostic_period" value="0.25" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
      <param name="setpoint" value="0" />      
      
    </node>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />    

    <!--TODO Remove if not needed-->
    <!--<node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
      <rosparam command="delete" param="/diagnostic_aggregator" />
      <rosparam command="load" file="$(find landing_pkg)/pid_config/pid_diags.yaml" />
    </node>-->
    <!--<node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />-->

</launch>
